[submodule "crm"]
	path = crm
	url = https://github.com/Terfin/celloman-crm.git
[submodule "dal"]
	path = dal
	url = https://github.com/Terfin/celloman-dal.git
[submodule "crm_gui"]
	path = crm_gui
	url = https://github.com/Terfin/celloman-crm-gui.git
